<%= coffeescript_include_tag 'pre' %>
<%= javascript_include_tag game_script_game_path(@game) %>
<%= coffeescript_include_tag 'engine' %>
<p id="notice"><%= notice %></p>

<canvas id="game">
</canvas>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
